.c-primary-btn {
  margin-top: 20px;
  background-color: #ff5f32;
  color: #fff;
  cursor: pointer;
  text-align: center;
  width: 200px;
  line-height: 50px;
  border-radius: 30px;
  display: block;
}