@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  letter-spacing: 1px;
}

a, a:link {
  text-decoration: none;
}

a:hover, a:link:hover {
  opacity: 0.5;
}

img {
  width: 100%;
}

.l-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 48px;
  z-index: 100;
}

.l-header__logo {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 84px;
  height: 100%;
}

.l-header__logo img {
  height: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}

.l-header__nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.l-header__nav a {
  margin-right: 40px;
  font-size: 13px;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.l-header__nav a:hover {
  border-bottom: 2px solid #ea4f8b;
}

.l-footer {
  padding: 40px 0;
  background-color: #333;
}

.l-footer__logo {
  width: 80px;
  margin: 0 auto 30px auto;
}

.l-footer__nav {
  text-align: center;
  margin-bottom: 30px;
}

.l-footer__nav a {
  color: #fff;
  font-size: 13px;
  margin: 0 5px;
}

.l-footer__copy {
  color: #fff;
  font-size: 11px;
  text-align: center;
  padding: 10px 0;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.l-section {
  padding: 60px 0;
  text-align: center;
}

.l-section--course {
  background-color: #1e2124;
}

.c-account {
  position: absolute;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.c-account::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  contain: "▼";
  font-size: 10px;
  color: #ccc;
}

.c-account__icon {
  width: 30px;
}

.c-account__icon img {
  width: 100%;
  border-radius: 50%;
}

.c-primary-btn {
  margin-top: 20px;
  background-color: #ff5f32;
  color: #fff;
  cursor: pointer;
  text-align: center;
  width: 200px;
  line-height: 50px;
  border-radius: 30px;
  display: block;
}

.c-sectionTitle {
  text-align: center;
  color: #fff;
  font-size: 24px;
  margin-bottom: 40px;
}

.c-sectionTitle__icon {
  text-align: center;
  margin-bottom: 10px;
}

.c-sectionTitle__icon--course img {
  width: 40px;
}

.product {
  position: relative;
  display: block;
  z-index: 10;
  overflow: hidden;
}

.product__inner {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__info {
  width: 50%;
}

.product__title {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.4;
  margin-bottom: 5px;
}

.product__cap {
  width: 50%;
  position: relative;
  top: 4vw;
  -webkit-box-shadow: 0px 1px 2px #d0d0d0;
          box-shadow: 0px 1px 2px #d0d0d0;
}

.product--new .product__info {
  position: relative;
}

.product--new .product__info::after {
  content: "";
  position: absolute;
  top: -30px;
  right: 30px;
  background-image: url(../img/new.png);
  background-size: cover;
  width: 50px;
  height: 50px;
}

.product--wp {
  border-top: 6px solid #efc15e;
}

.product--yashiki {
  border-top: 6px solid #fbc2bf;
}

.product--yoroi {
  border-top: 6px solid #4176a9;
}

.p-course {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (240px)[4];
      grid-template-columns: repeat(4, 240px);
  gap: 48px;
}

.p-course__item {
  position: relative;
  padding: 40px 20px;
  background-color: #51565c;
  border: solid 1px #cee9f0;
  -webkit-box-shadow: 0 0 8px #cee9f080;
          box-shadow: 0 0 8px #cee9f080;
  border-radius: 5px;
  overflow: hidden;
}

.p-course__item--new::after {
  position: absolute;
  top: 10px;
  right: -36px;
  content: "New!";
  width: 130px;
  background-color: #ea4f8b;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.p-course__title {
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}

.p-course__count {
  font-size: 14px;
  color: #ccc;
  text-align: center;
}

.p-course__logo {
  margin: 30px auto;
  text-align: center;
  width: 100px;
}

.p-course__btn {
  display: block;
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #6c8589;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
}

.keyVisual {
  position: relative;
  background: url(../img/kv_bg.jpg) center center no-repeat;
  background-size: cover;
  height: 540px;
  margin-top: 48px;
}

.keyVisual__ninjacode {
  width: 36%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 45vw;
}
/*# sourceMappingURL=style.css.map */